<center>

<div class="container mt-5  d-flex flex-column">
<h1 class="fs-1 fw-bold" >Employee Management system</h1>

<a href="/emp/create-user" class =" btn btn-success mt-3 rounded text-dark"><p class="h4">Add Employee</p></a>
<a href="/emp/show-all-employee" class="btn btn-primary mt-3 rounded   text-dark"><p class="h4">Show All Employee</p></a>
<a href="/emp/delete-all-employee" class="btn btn-danger mt-3  text-dark rounded"><p class="h4">Delete Employee</p></a>
<a href="/emp/update-all-employee" class="btn btn-warning mt-3 rounded  text-dark "><p class="h4">Update Employee</p></a>


</div>
</center>