<div class="container mt-5">
<h1 >Employee Management system</h1>
<a href="/emp/create-user" class =" btn btn-success mt-3 rounded" >Add Employee</a>
<a href="/emp/show-all-employee" class="btn btn-primary mt-3 rounded">Show All Employee</a>
<a href="/emp/delete-all-employee" class="btn btn-danger mt-3 rounded">Delete User</a>
<a href="/emp/update-all-employee" class="btn btn-warning mt-3 rounded">Update User</a>

</div>